body {
  color: #dedede !important;
}

.card-title{
  color: black !important;
}

.grid {
  padding: 3em;
  padding-left: 170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.carousel .carousel-indicators button {
  background-color: grey;
}
.carousel .carousel-indicators button.active {
  background-color: black;
}

.control-right{
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    margin: 0 !important;
}

.control-left{
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  margin: 0 !important;
}



.trailer-div {
  text-align: center;
}

.container {
  justify-content: center;
  text-align: center;
}

.head {
  text-align: left;
  justify-content: left;
}

.btn-close{
    background-image: url('data_image_png;base….png') no-repeat 50% 50%;
    z-index: 101;
    position: relative;
    left: 95%;
    background-color: black;
}

.iframe{
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close{
    background: rgb(0, 0, 0) !important;
}